@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  color: #333;
}
input:focus {
  outline: none !important;
}
input:checked + div {
  @apply border-red-500;
}
input:checked + div svg {
  @apply block;
}
